version: "3.9"

services:
  backend:
    build:
      context: ./EasyTeleop-Backend-Python
      dockerfile: Dockerfile
    image: easyteleop/backend
    container_name: easyteleop-backend
    depends_on:
      mqtt:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - ./EasyTeleop-Backend-Python/data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
      - DB_DIR=/app/data
      - MQTT_BROKER=mqtt
      - MQTT_PORT=1883
    restart: unless-stopped

  mqtt:
    image: emqx/emqx:5.3.1
    container_name: easyteleop-mqtt
    ports:
      - "1883:1883"
      - "8083:8083"
      - "8084:8084"
      - "8883:8883"
      - "18083:18083"
    healthcheck:
      test: ["CMD", "emqx", "ping"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    restart: unless-stopped

  node:
    build:
      context: ./EasyTeleop-Node
      dockerfile: Dockerfile
    image: easyteleop/node
    container_name: easyteleop-node
    privileged: true  # <--- 关键：开启特权模式
    depends_on:
      backend:
        condition: service_started
      mqtt:
        condition: service_healthy
    environment:
      - BACKEND_URL=http://backend:8000
      - WEBSOCKET_URI=ws://backend:8000/ws/rpc
      - MQTT_BROKER=mqtt
      - VIEW_HDF5_URL=http://hdf5:5000
    volumes:
      - ./EasyTeleop-Node/datasets:/app/datasets
      - ./EasyTeleop-Node/data:/app/data
    restart: unless-stopped

  frontend:
    build:
      context: ./EasyTeleopFrontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: /api #使用绝对路径避免指定host和端口
        NEXT_PUBLIC_MQTT_URL: # 留空使用默认值:windows.localhost:8083/mqtt
        NEXT_PUBLIC_MQTT_PASSWORD: public
        NEXT_PUBLIC_MQTT_USERNAME: admin
    image: easyteleop/frontend
    container_name: easyteleop-frontend
    depends_on:
      backend:
        condition: service_started
      mqtt:
        condition: service_healthy
    environment:
      - NEXT_PUBLIC_API_URL=/api
      - NEXT_PUBLIC_MQTT_URL=
      - NEXT_PUBLIC_MQTT_PASSWORD=public
      - NEXT_PUBLIC_MQTT_USERNAME=admin
    restart: unless-stopped

  gateway:
    image: nginx:1.25-alpine
    container_name: easyteleop-gateway
    depends_on:
      frontend:
        condition: service_started
      backend:
        condition: service_started
      mqtt:
        condition: service_healthy
    ports:
      - "80:80"
    environment:
      - API_HOST=backend
      - API_PORT=8000
      - FRONT_HOST=frontend
      - FRONT_PORT=3000
      - MQTT_HOST=mqtt
      - MQTT_PORT=8083
    volumes:
      - ./nginx/default.conf.template:/etc/nginx/templates/default.conf.template:ro
    restart: unless-stopped

  hdf5:
    build:
      context: ./HDF5DataVisualize
      dockerfile: Dockerfile
    image: easyteleop/hdf5
    container_name: easyteleop-hdf5
    ports:
      - "5000:5000"
    volumes:
      - ./HDF5DataVisualize/databases:/app/databases
    restart: unless-stopped
